.input-none {
    display: none;
}

.tell-me-about-you {
    display: none;
}

#aboutYou label {
    display: block;
    margin: 10px 0;
}

.show-info {
    color: blueviolet;
    font-style: italic;
    font-weight: bold;
}

.logic-test {
    display: none;
}
