.input-none {
    display: none;
}

.tell-me-about-you {
    display: none;
}

#aboutYou label {
    display: block;
    margin: 10px 0;
}

.show-info {
    color: blueviolet;
    font-style: italic;
    font-weight: bold;
}

.show-info-none {
    display: none;
}

.logic-test {
    display: none;
}

.calculate-result {
    color: #F00;
    display: block;
    font-style: italic;
    margin: 20px 0;
}

.button-finalizate {
    display: none;
}
